@using MVCTutorial.ViewModels.Controllers.Admin
@model IEnumerable<UserWithRolesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users and roles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @string.Join(", ", item.Roles)
        </td>
        <td>
            @Html.ActionLink("Edit Roles", "EditRoles", new { userId = item.UserId })
        </td>
    </tr>
}

</table>
